<app-header></app-header>
<mat-card>
  <mat-form-field>
    <input matInput placeholder="email">
  </mat-form-field>
  <br>
  <mat-form-field>
    <textarea matInput placeholder="תוכן ההודעה"></textarea>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-select placeholder="איפה תרצה להרצות?">
      <mat-option value="ramatran">רמת גן</mat-option>
      <mat-option value="telaviv">תל-אביב</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <button mat-button>שלח</button>
</mat-card>
