<app-header></app-header>
<div class='container'>
  <header></header>
  <div class='main'>
    <mat-card>לוגוס הוא מיזם חברתי שהוקם בשנת 2016. <br> 
      מדובר בפלטפורמה המספקת שירותי הרצאות עבור אוכלוסיית שורדי השואה. <br> 
      השורדים מגיעים ממציאות יומיומית שאינה פשוטה <br>
      וכחלק משגרת יומם פוקדים את מרכזי היום של עמותת "עמך". <br> 
      מרכזים אלו, הפזורים ברחבי הארץ, 
      שואפים ליצור לשורדים פעילויות חברתיות ומעניינות. <br> 
      המרצים המתנדבים של לוגוס זוכים לחוות מפגש בין דורי מרתק
       עם הדור שהקים את המדינה, <br> 
       ולצד זה משפרים את מיומנות העמידה שלהם מול קהל. <br> 
       השורדים זוכים להרצאות מעניינות מתחומים שונים,<br> 
        וכמובן פוגשים את האנשים הצעירים והמוכשרים,
        עבורם הקימו את המדינה.
    </mat-card>

  </div>




</div>
